.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    gap: 20px; /* Gap between columns */
}

/* Style for the code block */
.code {
    /* background-color: #f2f2f2; */
    padding: 20px;
    /* border: 1px solid #ccc; */
}

/* Style for the table */
.table{
    margin-top: 50px;
    margin-right: 50px;
}
table {
    text-align: center;
    width: 100%;
    
    border-collapse: collapse;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #cc8954;
    color: white;
}

/* Alternate row colors */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Hover effect for the table */
tr:hover {
    background-color: #ddd;
}